body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    background-color: whitesmoke;
}

header {
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    border: 1px solid #283618;
    position: fixed;
    top: 0;
    z-index: 1;
}

header > * {
    border: 1px solid #283618;
    margin: auto;
    padding: 7px;
    height: 50%;
}

header > h1 {
    font-size: 34px;
}

header h1 br {
    display: none;
}

header > a {
    font-size: 42px;
}

header a {
    text-decoration: none;
}

header nav {
    border: none;
}

header ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

header li a {
    font-size: 24px;
    margin-right: 10px;
}

header li:last-child a {
    margin-right: auto;
}

#menu-icon {
    display: none;
}

main {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main > * {
    border: 1px solid #283618;
    margin: 20px;
}

main > div {
    border: none;
}

img {
    max-width: 400px;
    display: block;
    height: auto;
    margin: auto;
}

main section {
    flex: 2;
    min-width: 50%;
}

main p {
    margin: 20px 16px;
    font-size: 26px;
}

main aside ol {
    list-style: none;
    padding: 24px 20px;
}

main aside ol a {
    text-decoration: none;
}

.current_section {
    font-weight: bold;
}

main img {
    margin: auto;
    position: sticky;
    top: 100px;
}

body > img {
    margin-bottom: 20px;
    border: 1px solid #283618;
    max-width: 50%;
}

footer {
    border: 1px solid #283618;
}

footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer li a {
    margin-right: 10px;
    text-decoration: none;
}

header li:last-child a {
    margin-right: auto;
}